@using PierresVendors.Models;
@{
  Layout = "_Layout";
}
<div id="container">
<h2>@Model["vendor"].Name</h2>
<h2>Description:</h2>
<p>@Model["vendor"].Description</p>
<h3>Orders:</h3>
@if (@Model["orders"].Count == 0)
{
  <p>There are no orders to show.</p>
  <p>Please <a href= '/vendors/@Model["vendor"].Id/orders/new'>add some orders.</a></p>
}
else
{  
  @foreach (Order order in @Model["orders"])
  {
    <h4>@order.Title</h4>
    <ul>
    <li>Order Date: @order.Date</li>
    <li>Order Description: @order.Description</li>
    <li>Order Price: @order.Price</li>
    </ul><br><br>
  }
}
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add some Orders.</a>
<a href='/vendors'>Return to Vendors.</a>
</div>